/* html{
    margin: 0;
}
body{
    margin: 0;
} */

/* can make it shorter using ,*/

/* This or for the whole website */

html, body{
    margin: 0;
    background-color: black;
    scroll-behavior: smooth;
}

/* This or for the whole website */

.pos-relative{
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0808085e;
    top: 0;
}
.welcome-message{
    position: absolute;
    /* top: 0; */
    text-align: center;
}
.welcome-message h1{
    color: #fff;
    font-family: "Century Gothic";
    font-weight: normal;
    font-size: 40px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bordered{
    border-top: solid #fff 2px;
    border-bottom: solid #fff 2px;
    padding-left: 30px;
    padding-right: 30px;
}

/* ORDER ONLINE BOTTON BELOW*/

button{
    background: none;
    border: none;
}

*{
    font-family: 'Century Gothic';
}

/* * is a universal selector */

.header-btn{
    margin: 30px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 25px;
    /* 
    padding: 
    1st value: top and bottom
    2nd value: left and right
     */
    font-size: 16px;
    letter-spacing: 3px;
    cursor: pointer;
    background: none;
    transition: 0.6s;
}

.header-btn:hover{
    margin: 18px;
    background: white;
    color:black;
}

/* END */

/* ABOUT */

.about-container{
    background-color: black; 
}

.about-content{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
.about-content h1{
    color: #daa520;
    text-align: normal;
    font-size: 45px;
    font-weight: normal;
}
.about-content p{
    color: #fff;
}

.menu-container{
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("../img/bg-menu.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu-content{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.menu-content h1{
    color: #daa520;
    text-align: normal;
    font-size: 45px;
    font-weight: normal;
}

.menu-content p{
    color: #fff;
}

.menu-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.item{
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
}

img{
    width: 100%;
}

.golden-btn{
    margin: 30px;
    color: #daa520;
    border: 1px solid #daa520;
    padding: 10px 30px;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;
    background: none;
    transition: 0.6s;
}

.golden-btn:hover{
    background-color: #daa520;
    color: white;
}

.contact-container{
    margin: 50px 0px;
}

.contact-content{
    width: 1000px;
    margin: auto;
    text-align: center;
}
.contact-content h1{
    color:#daa520;
    font-weight: normal;
    font-size: 45px;
    margin-top: 0;
}

.contact-content p{
    color: #fff;
    margin-bottom: 0;
}

.contact-content input{
    margin: 0;
    background: none;
    border: none;
    border: 2px solid #daa520;
    color: #daa520;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
}

.contact-content textarea{
    background: none;
    border: none;
    border: 2px solid #daa520;
    color: #daa520;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    height: 300px;
}

footer{
    background-color: #daa520;
    padding: 20px;
}
nav{
    background-color: rgba(27, 26, 26, 0.637);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;

}
.nav-menu{
    display: flex;
    list-style-type: none;
}
.nav-item a{
    text-decoration: underline;
    color:#fff;
    font-size: 18px;
}
.nav-item{
    padding-right: 20px;
}